<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>12247489466-nvt8dlt7cs9k1b8a1b7c9oap3u0bld5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12247489466-nvt8dlt7cs9k1b8a1b7c9oap3u0bld5j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>12247489466-t62hv7bk72gv0ntbgdk1vjtli1r7a3ur.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkovEpZzx7JJ64dQqLGqdCCdWRWz0-5n4</string>
	<key>GCM_SENDER_ID</key>
	<string>12247489466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ingeniworks.dashboardikb</string>
	<key>PROJECT_ID</key>
	<string>dashboard-saifon</string>
	<key>STORAGE_BUCKET</key>
	<string>dashboard-saifon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:12247489466:ios:dfca7142fe9abc11</string>
	<key>DATABASE_URL</key>
	<string>https://dashboard-saifon.firebaseio.com</string>
</dict>
</plist>